body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}















.hero{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.hero h1{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 25px;
    color: rgb(71, 71, 71);
    text-align: left;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding: 5px;
    
}

.link{
    position: absolute;
    top: 120px;
    right: 10px;
    font-size: 19px;
    text-decoration: none;
    color: black;
    transition: .5s ease;
}

.link:hover{
    opacity: .5;
}

.videowrap{
    margin-top: 130px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    
}

.videosize{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 550px;
    width: 350px;
    position: relative;
    
    
    border-radius: 40px;
    overflow: hidden;
}

iframe{
    margin: 20px;
}


.play{
    height: 50px;
    width: 50px;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;;
    left: 50%;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    transition: .5s ease;
    
}

.play:hover{
    opacity: .5;
}

.white{
    font-size: 15px;
    color: black;
    cursor: pointer;
}



.waxseal{
    transform: translateY(15px);
    border-radius: 10px;
    height: 120%;
    width: 120%;

}