body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero{
    height: 450px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero h1{
    color: black;
    font-size: 25px;
    text-align: center;
    line-height: 26px;
}


iframe{
    margin-top: 50px;
    height: 850px;
    width: 40%;
    
    
}